<div class="row">
    <div class="col-md-12 mb-3" *ngFor="let country of countries">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{country.countryName}}</h5>
                <p class="card-text">{{country.flag}}</p>
                <p class="card-text">{{country.population}}</p>
                <p class="card-text">{{country.airQuality}}</p>
                <p class="card-text">{{country.rankAirQuality}}</p>
                <a href="/details" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>